.navi{
    height: 100%;
}
.title{
    text-align: center;
    border-bottom: 3px solid darkred;
}
.links{
    width: 100%;
    margin-top: 20px;
}
.links ul li{
    padding: 5px;
    display: flex;
    align-items: center;
}
.links ul li p{
    margin-left: 10px;
}
.active{
    background: #e4e435;
}