.orderTable{
    background: #9AC142;
    text-align: center;
    top: 10%;
    border-radius: 100px;
    padding: 2% 5%;
}
.aboveList{
    margin: 10px auto;
}
.underList{
    border-top: 5px solid darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summary{
    text-align: left;
}
.delivery{
    margin-bottom: 1vh;
}
.freeDelivery{
    margin-bottom: 1vh;
    color: black;
}
