.orderTable{
    background: #9AC142;
    text-align: center;
    top: 10%;
    border-radius: 100px;
    padding: 2% 5%;
}
.aboveList{
    margin: 10px auto;
}
.underList{
    border-top: 5px solid darkred;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summary{
    text-align: left;
}
.delivery{
    margin-bottom: 1vh;
}
.freeDelivery{
    margin-bottom: 1vh;
    color: black;
}
.submitOrder{
    cursor: pointer;
    display: block;
    width: 200px;
    height: 100px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
}
.submitOrder:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 10%;
    height: 100%;
    background: #EEBB32;
    transition: all .35s;
}
.submitOrder:hover{
    color: #fff;
}
.submitOrder:hover:after{
    width: 100%;
    color: #fff;
}
.submitOrder span{
    position: relative;
    z-index: 2;
}
